@tailwind base;
@tailwind components;
@tailwind utilities;
.form-label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.input-style {
  @apply w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-orange-500;
}
